</main><!-- /.container -->
<!-- views/layouts/footer.ejs -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">© Copyright Ali Shaikh - 2018.</span>
    </div>
</footer>
<script src='/js/lib/jquery.min.js'></script>
<script src='/js/lib/bootstrap.min.js'></script>
<script src='/js/lib/popper.min.js'></script>
</body>
</html>
