<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/fontawesome.css' />
  </head>
  <body>
  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> <span class="fas fa-check"></span></p>
  </div>
  <script src='/js/lib/jquery.min.js'></script>
  <script src='/js/lib/bootstrap.min.js'></script>
  <script src='/js/lib/popper.min.js'></script>
  </body>
</html>
